<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>org.privoxy.launchd.privoxy</string>
	<key>WorkingDirectory</key>
	<string>@out@</string>
	<key>ProgramArguments</key>
	<array>
		<string>@out@/bin/privoxy</string>
		<string>--no-daemon</string>
		<string>@out@/etc/config</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/privoxy/var/log/privoxy/logfile</string>
</dict>
</plist>
